//colors

$primary-bg-color: #615EF0;
$primary-text-color: #000000;
$primary-subtext-color: #00000066;
$primary-border: #e2e8f0;

$secondary-text-color: #FFFFFF;
$secondary-bg-color: #F1F1F1;
$secondary-subtext-color: #00000014;
$secondary-bg-color-dark: #f3f3f3;
$secondary-bg-num-color: #EDF2F7;
$secondary-border: rgba(0, 0, 0, 0.08);
$bg-blue: rgba(97, 94, 240, 0.1);



